<!DOCTYPE html>
<html>
  <head>
    <title>Social Auth</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-primary text-center">
          <span class="fa fa-user">Questions</span> 
        </h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <p>
                <form method="post">
                <strong>Ques</strong>: <%= ques.question %><br />
                <input type="radio" name="answer" value="1" ><strong>Opt1</strong>: <%= ques.options[0].value %><br />
                <input type="radio" name="answer" value="2" ><strong>Opt2</strong>: <%= ques.options[1].value %><br />
                <input type="radio" name="answer" value="3" ><strong>Opt3</strong>: <%= ques.options[2].value %><br />
                <input type="radio" name="answer" value="4" ><strong>Opt4</strong>: <%= ques.options[3].value %><br />
                <button type="submit" name="submit" formaction="/quiz/next" value="next" class="btn btn-primary"> next </button>
                <button type="submit" name="submit" formaction="/quiz/prev" value="prev" class="btn btn-secondary">prev </button> 
                <button type="submit" name="submit" formaction="/quiz/submit" value="prev" class="btn btn-danger">submit </button> 
                </form> 
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
